html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(51, 51, 51);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  color: rgb(231, 231, 231);
}

.song-container,
.song-header {
  background-color: rgb(17, 17, 17);
  color: aliceblue;
  align-items: center;
  width: 100vw;
  border: none;
  margin: 0;
  padding: 0.7em 0;
  text-align: left;
  padding-left: 20px;
}

.song-container {
  display: grid;
  grid-template-columns: 3em 3fr 2fr 1fr;
  grid-template-rows: 1.4em 1.4em;
  gap: 8px;
}

.song-container:hover {
  background-color: rgb(173, 172, 172);
  color: rgb(27, 27, 27);
}
.song-header {
  display: none;
  background-color: rgb(112, 112, 112);
  color: rgb(231, 231, 231);
  padding: 5px;
  padding-left: 20px;
  position: sticky;
  top: 0;
}

.song-player {
  color: white;
  margin: 2.5vh auto;
  max-width: 768px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  gap: 20px 10px;
  background-color: rgb(17, 17, 17);
  border-radius: 2px;
  padding: 20px;
}

.audio-element {
  display: flex;
  justify-content: center;
}

audio {
  width: 100%;
}

.song-info {
  text-align: center;
}

.song-list {
  margin-top: 5vh;
  height: 60vh;
  overflow: scroll;
}

.song-title + div,
.song-title + div + div,
.song-play + div {
  display: none;
}

.song-play {
  order: -1;
  grid-row: span 2;
  margin-right: 10px;
  cursor: pointer;
  justify-self: left;
  border: none;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  padding: 0px;
  background-color: rgb(27, 27, 27);
}
.song-play:hover {
  transform: scale(1.05);
}

header {
  background-color: rgba(129, 1, 1, 0.842);
  color: #fff;
  margin: 0;
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

header img {
  width: 3em;
  margin-right: 1em;
}

.filter {
  background-color: black;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 5px;
}

.filter-section {
  margin: 0 auto;
  max-width: 768px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3px;
  margin-bottom: 1em;
}

@media (min-width: 600px) {
  .filter-section {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }

  .song-title + div,
  .song-title + div + div,
  .song-play + div {
    display: block;
  }
}

@media (min-width: 768px) {
  .song-player {
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
  }

  .song-container,
  .song-header {
    gap: 6px;
    grid-template-columns: 4fr 2fr 0.5fr 2fr 0.5fr 1fr;
    grid-template-rows: initial;
  }

  .song-header {
    display: grid;
  }

  .song-play {
    order: 0;
    grid-row: initial;
    margin-right: 0;
    width: 2em;
    height: 2em;
  }
}

@media (min-width: 1080px) {
  .filter-section {
    grid-template-columns: repeat(3, 1fr);
  }
}
